<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="entity">
        <div class="entity_name"><b>{{entity_name}}</b></div>
        <div class="description">
            <table>
                <tr>
                {% for key in content[0] %}
                    <th>{{ key }}</th>
                {% endfor %}
                </tr>
                {% for entity in content %}
                <tr>
                    {% for key in entity %}
                        {% if key == 'Thumbnail' %}
                            <td><img src={{ entity[key] }} alt="No image"></td>
                        {% else %}
                            <td>{{ entity[key] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>

